* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar-brand {
  width: 12.2rem;
  height: 11rem;
  margin-top: -2.7rem;
  margin-bottom: -2rem;
}

.header-title p {
  margin-left: -9rem;
  color: #fff;
  margin-top: -30rem;
}

.header-title-simple {
  color: rgb(55, 185, 185);
}

.header-title-per {
  font-weight: bold;
}
