@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap");

* {
    font-family: "Montserrat", sans-serif;
}

.aboutWe {
    background-image: url("https://uzbekistan.travel/storage/app/uploads/public/5e9/029/e82/thumb_669_1920_0_0_0_auto.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 350px;
}

.about-title {
    font-size: 48px;
    color: #fff;
    font-family: "Montserrat", serif;
    max-width: 860px;
    line-height: 1.2;
    justify-content: start;
}
